html,
body,
.page{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body{
  width: 100%;
  height: 100%;
}

.content {
  float: left;
  padding: 4px 8px;
}

.sidebar{
  width: 100%;
}

@media (min-width: 48em){
  .sidebar{
    width: 20rem;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .content{
    padding: 4px 12px 8px 22rem;
  }
}

@media (min-width: 80rem){
  .content{
    padding-left: 23rem;
  }
}

@media (min-width: 96rem){
  .content{
    padding-left: 25rem;
  }
}

.sidebar-about{
  text-align: right;
  background: rgba(20, 50, 160, .9);
}

.sidebar-profile{
  width: 100%;
  padding: 12px 8px;
  text-align: center;
}

.sidebar-profile img{
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, .9);
}

.sidebar-about h1{
  margin: 0;
  font-size: 48px;
  padding: 8px 16px 12px;
}

.center-aligned a,
.sidebar-about h1 a,
ul.list-inline li a,
nav.sidebar-nav ul li a{
  text-decoration: none;
  color: rgba(20, 50, 160, .9);
}

.sidebar-about h1 a{
  color: rgba(255, 255, 255, .9);
}

.sidebar-desc{
  font-size: 17px;
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 16px;
  padding-bottom: 12px;
  text-align: justify;
  background: white;
}

nav.sidebar-nav ul{
  list-style: none;
  text-align: right;
  padding-right: 16px;
}

nav.sidebar-nav ul li{
  padding-top: 4px;
  padding-bottom: 8px;
}

h1,
nav.sidebar-nav ul li a{
  font-size: 18px;
  font-family: "Helvetica";
}

.posts,
ul.list-inline{
  padding: 0px;
  display: flex;
  list-style-type: none;
}

ul.list-inline{
  margin: 0px 0px 0px 5rem;
}

ul.list-inline li{
  padding: 0px 12px 8px;
}

ul.list-inline li a{
  font-size: 20px;
}

.pdf-container{
  width: 50rem;
  height: 530px;
  overflow: hidden;
  position: relative;
}
h1.page-title{
  margin: 0px;
  padding-top: 12px;
  font-size: 28px;
}

.center-aligned{
  font-size: 18px;
  text-align: center;
  padding-bottom: 8px;
}

::-webkit-scrollbar {
  width: 0px;
}
