.sidebar-nav {
  ul {
    list-style: none;
  }

  &_profile{
    display: flex;

    li{
      margin: 0px 8px;
      padding: 6px 4px;
      background: white;
      border-radius: 50%;

      @media (min-width: $large-device){
        margin: 3em 1.5em;
      }

      a {
        color: inherit;

        &:visited{
          color: inherit;
        }
      }
    }
  }

  &_links {
    text-align: right;
    padding-right: 1rem;

    li{
      padding-top: 4px;
      padding-bottom: 8px;

      a {
        color: $white;
        font-weight: bolder;
        font-family: $helvetica;
        font-size: $font-size * 1.2;

        @media (min-width: $large-device){
          font-size: $font-size * 1.5;
        }
      }
    }

    @media (min-width: $large-device){
      padding-right: 2rem;
    }
  }
}
