$large-device: 96rem;
$medium-device: 80rem;
$small-device: 48rem;

$blue: rgba(35, 60, 150, .9);
$light-blue: rgba(185, 195, 250, .9);
$white: rgba(255, 255, 255, .9);
$green: rgba(50, 175, 45, .9);
$transparent-white: rgba(255, 255, 255, .6);

$font-size: 18px;
