$large-device: 96rem;
$medium-device: 80rem;
$small-device: 48rem;

$blue: rgba(50, 70, 150, .9);
$light-blue: rgba(185, 195, 250, .9);
$white: rgba(255, 255, 255, .9);
$green: rgba(70, 160, 70, .9);
$transparent-white: rgba(255, 255, 255, .6);
$grey: rgba(0, 0, 0, .5);
$purple: rgba(130, 55, 90, .9);
$lime: rgba(130, 155, 55, .9);
$black: rgba(0, 0, 0, .9);
$red: rgba(135, 0, 30, .9);

$font-size: 18px;
